body {
    background-color: #306850;
    color: #000000;
    font-family: Georgia, serif;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    margin: auto;
    text-align: center;
    width: auto;
}
footer{
    background-color: #071821;
    color: #e0f8cf;
}
header {
    background-color: #071821;
    color: #e0f8cf;
}
