@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>The Birth of our game Investigate:</h3>

    <p>This project of ours was a class project that grew to something that we could
    enjoy and share with the world.<br />
    We used GB Studio as our game engine and we also used Microsoft Paint to build
    our playing field and assets.<br />
    We love playing retro games and love a great murder mystery story.
    </p>
</main>