@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">INVESTIGATE</h1>
        <p class="lead">This page is dedicated to showcase our class project game that we call Investigate.</p>
        <!--<p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p> 
            -->
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="Engine Used">
            <h1>Engine Used:</h1>
            <h2 id="GB Studio">GB Studio</h2>
            <img src="~/Content/GB_Studio_Logo.jpg" alt="GB Studio Logo">
            <p>
                Our game engine of choice for this game is GB Studio. We chose this engine over
                any other engine because our goal was to create a GameBoy type of game.
            </p>
            <p><a class="btn btn-outline-dark" href="https://www.gbstudio.dev/">Learn more &raquo;</a></p>
        </section>

        <section class="col-md-4" aria-labelledby="Game Video">
            <h1>Show Case:</h1>
            <h2 id="video">Check out our game:</h2>
            <p>Here is a quick look at what we have created</p>
            <p> <video width="320" height="240" controls>
                <source src="~/Content/Investigate Game Clip.mp4" type="video/mp4">
                 </video>
            </p>
        </section>

        <section class="col-md-4" aria-labelledby="Asset Editor">
            <h1>Other Tools Used:</h1>
            <h2 id="Tool">Microsoft Paint</h2>
            <img src="~/Content/paint.jpg" alt="MSPaint">
            <p>To help us create and edit our assets used to build our game, we used Microsoft Paint</p>
            <p><a class="btn btn-outline-dark" href="https://www.microsoft.com/en-us/windows/paint#paintcocreator">Learn more &raquo;</a></p>
        </section>
    </div>
</main>